.layout{
    display: grid;
   grid-template-columns: 275px auto 350px;
   margin: 0 auto;
}
.right-sidebar{
    position: fixed;
}

.sidebar-menu__item {
    font-size: 19px;
    color: #0F141A;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 10px;
  }
  .sidebar-menu {
    position: fixed;
  }
  
  .sidebar-menu__item:hover {
    background: rgba(29, 161, 242, 0.1);
    color: #1da0f2;
    border-radius: 20px;
    cursor: pointer;
  }
  .sidebar-menu__item--active {
    color: #1da0f2;
  }
  .sidebar-menu__item-icon {
    height: 26px;
    margin-right: 20px;
  }
  .sidebar-menu__item--active .sidebar-menu__item-icon {
    filter: invert(67%) sepia(60%) saturate(4956%) hue-rotate(176deg) brightness(95%) contrast(99%);
  }

  .brand {
    height: 28px;
    filter: invert(46%) sepia(99%) saturate(1449%) hue-rotate(176deg) brightness(100%) contrast(91%);
    padding: 10px;
    
    
  }

  .trends-for-you {
    border-radius: 15px;
    background: #f5f8fa;
    margin-bottom: 15px;
  }
  
  .trends-for-you__block {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
  }
  
  .trends-for-you__block:last-child {
    border-bottom: none;
  }
  
  .trends-for-you__heading {
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
}
.trends-for-you__meta-information {
  font-size: 13px;
  font-weight: 300;
  color: #657786;
}
.trends-for-you__trend-name {
  font-size: 15px;
  color: #14171a;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
}

.who-to-follow {
    background: #f5f8fa;
    border-radius: 15px;
  }
  
  
  .who-to-follow__block {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6ecf0;
  }
  
  .who-to-follow__block:last-child {
    border-bottom: none;
  }
  
  .who-to-follow__author-logo {
    width: 49px;
    height: 49px;
    border-radius: 50px;
    margin-right: 10px;
  }
  
  .who-to-follow__author-slug {
    color: #657786;
    font-size: 15px;
  }
  
  .who-to-follow__author-name {
    font-size: 15px;
    font-weight: 700;
  }
  
  .who-to-follow__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .who-to-follow__heading {
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
  }
  
  .who-to-follow__button {
    border: 1px solid #1da0f2;
    color: #1da0f2;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
    min-width: 67px;
    text-align: center;
  }
  
  .who-to-follow__button:hover {
    background: rgba(29, 161, 242, 0.1);
    cursor: pointer;
  }
  .tweet{
      display: flex;
      border-bottom: 1px solid #e6ecf0;
      padding: 10px 15px;
  }
  .tweet__author-logo{
      width: 49px;
      height: 49px;
      border-radius: 50%;
      margin-right: 10px;
  }
  .tweet__header{
      display: flex;
  }
  .tweet__author-name{
      font-size: 15px;
      font-weight: 700px;
      color: #14171a;
      margin-right: 5px;
  }
.tweet__author-slug{
  color: #5b7083;
  font-size: 15px;
}
.tweet__publish-time{
    margin-left: 5px;
    color: #657786;
}
.tweet__image{
    width: 100%;
    border-radius: 15px;
    margin-top: 5px;
}
.tweet a{
    color: #1b94e0;
    text-decoration: none;
    
}
.tweet a:hover{
    text-decoration: underline;
}
.tweet:hover{
    background: rgba(0,0,0,0.o3);
    cursor:pointer;
}

.heading{
    line-height:  24px;
    font-size: 20px;
}
.snap1{
    overflow: break word;
}

input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding: 1px 2px;
}
input{
    background-color: var(--search-box-bg, white);
    border: none;
    border-radius: calc(0.5 * var(--ntp-realbox-height));
    color: var(--search-box-text);
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-inline-end: 44px;
    padding-inline-start: 52px;
    position: relative;
    width: 100%;
    border-radius: 20%;
    box-sizing: var(--search-box-bg);
}
input {
    
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 3px 2px;
    border-width: 4px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
